    body {
    background: #3b3831 !important;
    }
    
    
    
    td, th {
    background-color: #585550 !important;
    }
    
    
    
    * {
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    a {
    text-decoration: none;
    color: #F391B1;
    }