body {
    background: #3b3831 !important;
}

html {
    background-color: 3b3831;
}

a {
    color :  pink!important;
}

text {
    color : red !important;
}

div {
    background-color: 3b3831 !important;
}

#Largest {
    background-color : 3b3831;
}